body {
  background-color: #1a1d23;
  background-repeat:repeat, no-repeat;
  background-size:auto, 100% 100%;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login-form {
  width: 20vw;
  height: 30vw;
  text-align: center;
  margin: auto;
}

#login-form h1{
  margin-top: 100px;
}

.map {
  width: 40vw;
  height: 40vw;
  position: relative;
}

#nav-bar {
  float: left;
}

#nav-bar .navlinks {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.sport-container {
  display: flex;
  justify-content: space-evenly;
}

.sport-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 265px;
  height: 400px;
}

.sport-card img {
  border-radius: 5px 5px 0 0;
  width: 265px;
  height: 200px;
}
